
.tagtree *{ margin:0; padding:0; }
.tagtree li{ list-style: none; }
.clear { clear: both; *height: 0; *font-size: 0; *line-height:0; }
.clearfix { *zoom: 1; }
.clearfix:after { content: ""; display: table; clear: both; }

select[data-toggle="tagTree"]{
	height: 30px;
}
.tagtree { 
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; 
}
.tagtree.open .tagtree-single{
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
.tagtree-single{
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 42px 6px 12px;
    transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
    text-decoration: none !important;
}
.tagtree-single:hover{
    text-decoration: none ;
}

.tagtree-single .clear-icon {
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    width: 20px;
    height: 100%;
    padding: 6px 0;
    font-size: 14px;
    color: #888;
}
.tagtree-single .clear-icon b {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: -1px;
    background: url(chosen-sprite.png) no-repeat -38px 6px;
}

.tagtree-single .down-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 100%;
    padding: 6px 0;
    font-size: 14px;
    color: #888;
}
.tagtree-single .down-icon b {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: -3px;
    background: url(chosen-sprite.png) no-repeat 0 2px;
}
.tagtree.open .tagtree-single .down-icon b{
	background-position: -18px 2px;
}

.tagtree-drop{
	background: #ffffff;
    border: 1px solid #ccc;
    border-top: 1px solid #eee;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 5000;
}
.tagtree-search{
    padding:5px;
    position:relative;
}
.tagtree-search .tagtree-sipt{
    width: 100%;
    padding-right:30px;
    height:26px;
    border: 1px solid #ccc;
    padding-left:10px;
}
.tagtree-search .tagtree-sbtn{
    display:block; 
    width: 30px; 
    height:24px;
    position: absolute;
    top:6px; 
    right: 5px;
    text-align: center;
    color:#858585;
    font-size:14px; 
    line-height: 25px;
}
.tagtree-sec{
    max-height:260px;
    overflow: auto;
    padding:5px;
}
.tgte-tit{ 
    padding: 0 10px 0 30px;
    line-height: 30px;
    border-bottom: 1px solid #459fff;
    color: #459fff;
    font-size: 16px;
    font-weight: bold; 
    background: url(https://vpn.tzc.edu.cn/https/77726476706e69737468656265737421fae046903f242644640bc7a99c406d36c1/jwglxt/js/plugins/images/tgtechn.png) no-repeat left center;
}

.tagtree .li-top{}
.tagtree .li-top > ul{
    padding-left:10px;
}

.tagtree .tagtree-sec li {
    margin:0;
    position:relative;
    list-style-type:none;
}

.tagtree .tagtree-sec .tgname{
    display: block;
    cursor: pointer;
    padding:5px 25px 5px 25px;
    position:relative;
    color:#555;
    line-height: 15px;
}
.tagtree .tagtree-sec .tgname.ssitem{
    color:#3875d7;
}
.tagtree .tagtree-sec .tgname:hover{
    background: #3875d7;
    color:#ffffff;
}
.tagtree .tagtree-sec .tgname:hover span{
    color:#ffffff;
}
.tagtree .tagtree-sec .name{
    position: static;
}
.tagtree .tagtree-sec span{
    position:absolute;
    top:5px;
    line-height:15px;
    display:block; 
    font-size:14px;
}
.tagtree .tagtree-sec span.right{
    color:#3875d7;
    right: 5px;
    width:16px;
}
.tagtree .tagtree-sec span.left{
    font-size:12px;
    color:#83acef;
    left: 5px;
    top:5px;
    width:25px;
}
.tagtree li .check:hover{
    /*background:#16A085;*/
}
.tagtree li .check:hover::before{
    /*border-right: 10px solid #16A085;*/
}

.tagtree .tagtree-sec li .check{
    display: block;
    width: 10px;
    height:10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: absolute;
    top: 9px;
    left:0px; 
    z-index:5; 
}
.tagtree .tagtree-sec li.item .check{
    top: 7px;
}
.tagtree .tagtree-sec li .text{
        vertical-align: top;
}
.node-count {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    margin-left: 3px;
    height: 16px;
    width: 16px;
    background-color: #8bc34a;
    text-align: center;
    line-height: 16px;
    color: white;
    border-radius: 8px;
    margin-top: 6px;
}

.tagtree .tagtree-sec li span i{
    margin: 0 1 0 6;
    color: #ECF0F1;
    font-size: 18px;
}
.tagtree .tagtree-sec li span i:hover{
    color: #FFEB3B;
}
.tagtree .tagtree-sec li span .i-check
{
    display: inline-block;
    color: #FFEB3B !important;
}

.tagtree-btn{ 
    width:100%;
    position:absolute; 
    bottom:0; 
    box-shadow:0 0 3px #ccc; 
}
.tagtree-btn button{
    width:50%;
    border:none;
    outline:none;
    background: #3875d7;
    float:left;
    height: 35px; 
    line-height:35px;
    color:#ffffff; 
}
.tagtree-btn .cancel{
    background: #ffffff;
    color:#3875d7; 
}
.tagtree-btn .confirm{
    background: #3875d7;
    color:#ffffff; 
}